{% extends "market/base.html" %}
{% load static %}

{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}
    <h1>Your shopping cart</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>Unit price</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %}
                                            {{ product.image.url }}
                                          {% else %}
                                            {% static 'image/no_image.png' %}
                                          {% endif %}">
                            </a>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>
                            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.override }}
                                <input type="submit" value="Update">
                                {% csrf_token %}
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                                <input type="submit" value="Remove">
                                {% csrf_token %}
                            </form>
                        </td>
                        <td class="num">{{ item.price }}원</td>
                        <td class="num">{{ item.total_price }}원</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>Total</td>
                <td colspan="4"></td>
                <td class="num">{{ cart.get_total_price }}원</td>
            </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url 'market:home' %}" class="button light">Continue shopping</a>
    </p>
    <form method="post">
        {% csrf_token %}
        <a href="#" id="checkoutBtn">
            <img src="{% static 'img/kakaopay_button.png'%}" alt="kakaopay_button">
        </a>
    </form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#checkoutBtn').click(function(e) {
        e.preventDefault(); // 기본 이벤트(링크 이동) 방지

        // 세션에 저장된 로그인 정보 확인
        var isLoggedIn = "{{ request.user.is_authenticated }}"; // Django 템플릿 변수를 JavaScript로 가져옴

        if (isLoggedIn === "True") {
            // 로그인된 경우 확인 창 표시
            if (confirm('결제하시겠습니까?')) {
                // 확인을 누른 경우 결제 페이지로 이동
                window.location.href = '{% url "kakaopay:index" %}';
            } else {
                // 취소를 누른 경우 아무 동작 없음
            }
        } else {
            // 로그인되지 않은 경우 로그인 페이지로 이동
            window.location.href = '{% url "user:login" %}';
        }
    });
});
</script>
{% endblock %}