<!-- cart/detail.html -->
{% extends "market/base.html" %}
{% load static %}

{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}
    <h1>Your shopping cart</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>Unit price</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %}
                                            {{ product.image.url }}
                                          {% else %}
                                            {% static 'image/no_image.png' %}
                                          {% endif %}">
                            </a>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>
                            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.override }}
                                <input type="submit" value="Update">
                                {% csrf_token %}
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                                <input type="submit" value="Remove">
                                {% csrf_token %}
                            </form>
                        </td>
                        <td class="num">{{ item.price }}원</td>
                        <td class="num">{{ item.total_price }}원</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>Total</td>
                <td colspan="4"></td>
                <td class="num">{{ cart.get_total_price }}원</td>
            </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url 'market:home' %}" class="button light">Continue shopping</a>
    </p>
    <form action="{% url 'kakaopay:index' %}" method="post" id="kakaopayForm">
        {% csrf_token %}
        <input type="hidden" name="item_name" value="{% for item in cart %}{% if not forloop.first %}, {% endif %}{{ item.product.name }}{% endfor %}">
        <input type="hidden" name="quantity" value="{{ cart|length }}">
        <input type="hidden" name="total_amount" value="{{ cart.get_total_price }}">
        <button type="submit" id="kakaopayBtn">
            <img src="{% static 'img/kakaopay_button.png'%}" alt="kakaopay_button">
        </button>
    </form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#kakaopayForm').submit(function(e) {
        // 세션에 저장된 로그인 정보 확인
        var isLoggedIn = "{{ request.user.is_authenticated }}"; // Django 템플릿 변수를 JavaScript로 가져옴

        if (isLoggedIn !== "True") {
            e.preventDefault(); // 로그인되지 않은 경우 기본 이벤트(폼 제출) 방지
            window.location.href = '{% url "user:login" %}';
        } else if (!confirm('결제하시겠습니까?')) {
            e.preventDefault(); // 확인하지 않은 경우 기본 이벤트(폼 제출) 방지
        }
    });
});
</script>
{% endblock %}