<!-- market/templates/market/product/books_list.html -->
{% extends 'market/base.html' %}
{% load static %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %}
                    {{ product.image.url }}
                  {% else %}
                    {% static 'img/no_image.png' %}
                  {% endif %}">
        <h1>{{ product.name }}</h1>
        <h2>
            <a href="{{ product.minicategory.get_absolute_url }}">
                {{ product.minicategory }}
            </a>
        </h2>
        <p class="price">{{ product.price }}원</p>
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Add to cart">
        </form>
        {{ product.description|linebreaks }}
    </div>
    <a href="{{ product.get_review_url }}">{{ product.user.username }}</a>
    <a href="{% url 'chat:room' product.name %}">채팅</a>
    <div id="map" style="width:500px;height:400px;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e3165d2c3e60ad707e3de1280a966975"></script>
    <script>
        var container = document.getElementById('map');
        var options = {
            center: new kakao.maps.LatLng(33.450701, 126.570667),
            level: 3
        };

        var map = new kakao.maps.Map(container, options);
    </script>
    {% if user.is_authenticated and product.user.username == user.username %}
        <a href="{{ product.get_update_url }}">
            <input type="button" value="수정">
        </a>
        <button id="delete-button" class="btn btn-danger">삭제</button>
    {% endif %}
<script>
    document.getElementById('delete-button').addEventListener('click', function() {
        if (confirm('이 제품을 삭제하시겠습니까?')) {
            fetch('{% url "market:product_delete" category_slug=product.category.slug minicategory_slug=product.minicategory.slug id=product.id %}', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                }
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = '{% url "market:product_list" category_slug=product.category.slug %}';
                } else {
                    alert('제품 삭제에 실패했습니다.');
                }
            })
            .catch(error => {
                alert('오류가 발생했습니다. 다시 시도해 주세요.');
            });
        }
    });
</script>
{% endblock %}