{% extends 'market/base.html' %}
{% load static %}
{% block title %}
    {{ category.name }}
{% endblock %}
{% block content %}
    <div id="main" class="product-list">
        <h1>
            {{ category.name }}
        </h1>
        {% for minicategory in minicategories %}
            <a href="{% url 'market:product_list_filtered' category.slug minicategory.slug %}">
                {{ minicategory.name }}
            </a>
        {% endfor %}
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}
                                {{ product.image.url }}
                              {% else %}
                                {% static 'img/no_image.png' %}
                              {% endif %}">
                </a>
                <br/>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                <br/>
                {{ product.price }}원
            </div>
        {% endfor %}
    </div>
{% endblock %}