{% extends "market/base.html" %}
{% load static %}
{% block title %}
    Profile
{% endblock %}
{% block content %}
    <h1>Profile</h1>
    <img src="{% if product.image %}
                {{ product.image.url }}
              {% else %}
                {% static 'img/no_image.png' %}
              {% endif %}" width="150">
    <p>{{ user.email }}</p>
    <a href="{% url 'user:my_products' %}">내가 올린 글</a>
    <br>
    <button id="delete-account" class="btn btn-danger">회원탈퇴</button>
    <form id="delete-form" method="post" action="{% url 'user:delete' %}" style="display:none;">
        {% csrf_token %}
    </form>
<script>
document.getElementById('delete-account').addEventListener('click', function() {
    if (confirm('회원을 탈퇴하시겠습니까?')) {
        document.getElementById('delete-form').submit();
    }
});
</script>
{% endblock %}

