<!-- market/templates/market/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css'%}">
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>

<!-- navbar -->
{% include 'market/navbar.html' %}

<div id="subheader">
    <div class="cart d-flex px-4 mt-4">
        <form action="{% url 'cart:cart_detail' %}" method="get">
            {% with total_items=cart|length %}
                {% if total_items > 0 %}
                    <button type="submit" class="btn btn-outline-dark">
                        Cart:
                        {{ total_items }} item{{ total_items|pluralize }},
                        {{ cart.get_total_price }}원
                    </button>
                {% else %}
                    <button type="submit" class="btn btn-outline-dark">
                        Your cart is empty.
                    </button>
                {% endif %}
            {% endwith %}
        </form>
    </div>
</div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>


<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>

<!-- 자바스크립트 -->
{% block script %}
{% endblock %}

</body>
</html>