{% extends 'market/base.html' %}
{% load static %}
{% block title %}
    Hi
{% endblock %}
{% block content %}
    <div class="container my-3">
        <div class="row my-3">
            <div class="col-6">
                <div class="input-group">
                    <input type="text" id="search_kw" class="form-control" value="{{ kw|default_if_none:'' }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="btn-search">찾기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="map" style="width:500px;height:400px;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e3165d2c3e60ad707e3de1280a966975"></script>
    <script>
        var container = document.getElementById('map');
        var options = {
            center: new kakao.maps.LatLng(33.450701, 126.570667),
            level: 3
        };

        var map = new kakao.maps.Map(container, options);
    </script>
{% endblock %}
